.container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #FFFFFF;
}

.container-tab {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 96px;
	background: #FFFFFF;
}

.title {
	height: 80px;
	line-height: 80px;
	font-size: 40px;
	text-align: center;
	color: #FFFFFF;
	background: linear-gradient(to right, rgb(11,91,168) , rgb(0,157,228));
}

.buttom-wrapper {
	padding: 20px;
}

.buttom-wrapper .buttom {
	height: 80px;
	line-height: 90px;
	text-align: center;
	background: #009ee2;
	border-radius: 40px;
}

.slide {
	position: absolute;
	bottom: 0;
	width: 50px;
	height: 10px;
	background: #009BE4;
	border-radius: 5px;
	transition: .5s;
}
