
.vux-swiper {
	width: 100%;
	/*height: 400px!important;*/
}

.weui-cells__title,.weui-label,.vux-cell-value,.weui-input {
	font-size: 30px!important;
}

.weui-cells__title {
	color: #0965b1!important;
}

.weui-cell {
	padding-top: 20px!important;
	padding-bottom: 20px!important;
}

.vux-popup-header {
	height: 90px!important;
	line-height: 90px!important;
}

.vux-popup-header-left,.vux-popup-header-right {
	font-size: 37.5px!important;
}

.weui-dialog {
	max-width: 80%!important;
}

.weui-icon-cancel {
	font-size: 60px!important;
}

.weui-icon-clear {
	font-size: 30px!important;
}

.weui-icon-success {
	font-size: 30px!important;
}

.vux-input-icon.weui-icon-warn:before, .vux-input-icon.weui-icon-success:before {
	font-size: 30px!important;
}

.weui-cells:after {
	height: 21px!important;
}

@media only screen and (max-width:414px) {
	.weui-cells:after {
		height: 20px!important;
	}
}

@media only screen and (max-width:320px) {
	.weui-cells:after {
		height: 14px!important;
	}
}

@media only screen and (max-width:360px) {
	.weui-cells:after {
		height: 15px!important;
	}
}

.vux-toast .weui-toast.vux-toast-top {
   top: 100px!important;
   width: 10em!important;
}

.vux-toast .weui-toast__content {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	background-color: #DEDEDE!important;
}

.weui-toast__content .toast-span {
    flex: 1;
}

.weui-toast__content .icon {
    margin-left: 20px;
}

.vux-toast .weui-toast {
	background: transparent!important;
}

.toast-span {
	font-size: 22px;
	color: #333333;
}

.vux-loading .weui-toast {
	top: 0!important;
	width: 100%!important;
	height: 100%!important;
}

.weui-icon_toast,.weui-loading {
	margin: 5rem 0 0!important;
	width: 70px!important;
	height: 70px!important;
}

.weui-toast__content {
	color: #009BE4;
	font-size: 30px!important;
}

.weui-dialog__title {
    color: #ff0000;
    font-size: 30px!important;
}

.weui-dialog__ft {
	line-height: 80px!important;
}

.weui-dialog__hd {
	padding: 40px 1.6em 50px!important;
}

.vux-slider > .vux-swiper > .vux-swiper-item  {
	line-height: 0.8rem!important;
}

.text-scroll > .vux-swiper {
	height: 60px!important;
}

.img-scroll > .vux-swiper {
	height: 360px!important;
}

.vux-number-selector {
	height: 0.7rem!important;
	line-height: 0.7rem!important;
}

.vux-number-input {
	height: 0.7rem!important;
	line-height: 0.7rem!important;
	font-size: 30px!important;
}

.vux-number-selector svg {
	vertical-align: middle;
}

.weui-cells {
	margin: 0!important;
}

.weui-cells:before {
	border: none!important;
}